.sidebarChats{
    display: flex;
    
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid gray;
    color: rgb(67, 255, 255);
    place-items: center;
}


.sidebarChats:hover{
    background-color: rgb(17, 99, 85);
    color: black;
}
.sidebarChats__info > h2
{
    font-size: 18px;
    

}
.sidebarChats__info{
    margin-left: 18px;
    font-size: 16px;
}
